<div class="row">
<div class="col-sm-6">
    <div class="card ">{{title}}</div>
</div>
<div class="col-sm-6">
    <button class="btn btn-sm btn-dark chg-binge" data-id="{{id}}" data-binge="{{isbinged}}">
        {{#if isbinged}}Binge it{{else}}Again{{/if}}
    </button>
    <button class="btn btn-sm btn-danger delete-show" data-id="{{id}}">Not Worthy</button>
</div>
</div>
<br>


